.lContainer{
    display:grid;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.logspan{
    color: red;
    justify-content: center;
    align-items: center;
}
.lInput{
    font-size: large;
}
.loginText{
    font-size: large;
}
.lButton{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}